


.background-image {
    background-image: url('../imgs/bgimg4.png'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
  }
  .background-image-footer {
    background-image: url('../imgs/bgimg.png'); 
    background-size:auto;
    width: 100%
  }


  /* Custom styles for specific devices can go here */

/* iPhone XR */
@media only screen 
and (device-width : 414px) 
and (device-height : 896px) 
and (-webkit-device-pixel-ratio : 2) { 
  /* Styles */
}

/* iPhone 12 Pro */
@media only screen 
and (device-width : 390px) 
and (device-height : 844px) 
and (-webkit-device-pixel-ratio : 3) { 
  /* Styles */
}

/* iPhone 14 Pro Max */
@media only screen 
and (device-width : 430px) 
and (device-height : 932px) 
and (-webkit-device-pixel-ratio : 3) { 
  /* Styles */
}

/* Pixel 7 */
@media only screen 
and (device-width : 393px) 
and (device-height : 851px) 
and (-webkit-device-pixel-ratio : 3) { 
  /* Styles */
}

/* Samsung Galaxy S8 */
@media only screen 
and (device-width : 360px) 
and (device-height : 740px) 
and (-webkit-device-pixel-ratio : 4) { 
  /* Styles */
}

/* Samsung Galaxy S20 */
@media only screen 
and (device-width : 360px) 
and (device-height : 800px) 
and (-webkit-device-pixel-ratio : 3) { 
  /* Styles */
}

  

 
  