.card-body {
  padding: 10px;
}

.custom-card {
  margin-top: 20px;
}

.rock-image {
  height: 250px;
  width:100%;
  object-fit: cover;
  justify-content:center;
}

  #root {
    background: linear-gradient(to right, #6933ff, #24001a); 
  }

.cards-wrapper {
  width: 97%;
  height: 100%;
  display: grid;
  gap: 20px;
  margin-top: 5%;
 
  grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr); 
  }
}


@media (min-width: 992px) {
  .cards-wrapper {
    grid-template-columns: repeat(4, 1fr); 
  }
}


@media (min-width: 1200px) {
  .cards-wrapper {
    grid-template-columns: repeat(4, 1fr); 
  }
}

